<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Angular To-Do App</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	</head>

<!-- make view aware of app -->
<body ng-app="Todo">
	<div class="page-container" ng-controller="TodoCtrl">
		<h2>Todo</h2>
			<ul class="todo-list" ng-repeat="todo in todos track by $index">
				<li>
					<span>{{ todo }}</span>
					<!-- on click, passes todo item into done function, which finds the index of the item and removes from the list -->
					<button class="bt bt-achieve" ng-click="done(todo)">Done</button>
				</li>
			</ul>
			<ul class="add-todo">
				<li>
					<input type="text" class="txt" placeholder="New Todo" ng-model="newTodo" ng-keyup="add($event)"/>
				</li>
			</ul>
	</div>
	
<script src="todo.js"></script>
</body>	

</html>

